@import './mixin';


*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: hsl(0, 0%, 98%);
}

.top {
  width: 40%;
  text-align: center;
  margin: 4rem auto;

  @include phone {
    width: 80%;
    //text-align: start;
  }

  &__primary-text {
    font-size: 3rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);

    @include phone {
      font-size: 2rem;
    }
  }

  &__header {
    font-size: 3rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);

    @include phone {
      font-size: 2rem;
    }
  }

  &__secondary-text {
    font-size: 1.3rem;
    color: hsl(229, 6%, 66%);
    margin: 1rem 0;

    @include phone {
      font-size: 1rem;
    }
  }
}


.grid__container {
  width: 55%;
  margin: 3rem auto;
  display: grid;

  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  grid-template-rows: repeat(4, 6vw);
  grid-gap: 3rem;

  @include phone {
    width: 80%;
    grid-template-columns: unset !important;
    grid-template-rows: repeat(4, 60vw);
  }
}

.box {
  padding: 0 3rem;
  box-shadow: .2rem 1.5rem 2rem rgba(hsl(229, 6%, 66%), .2);
  border-radius: .5rem;
  position: relative;

  &__1 {
    grid-row: 2/ span 2;
    grid-column: 1/ 2;

    border-top: hsl(180, 62%, 55%) .4rem solid;

    display: flex;
    flex-direction: column;

    @include phone {
      grid-row: unset;
      grid-column: unset;
    }
  }

  &__2 {
    grid-row: 1/ span 2;
    grid-column: 2/ 3;

    border-top: hsl(0, 78%, 62%) .4rem solid;

    @include phone {
      grid-row: unset;
      grid-column: unset;
    }
  }

  &__3 {
    grid-row: 3/ span 2;
    grid-column: 2/ 3;

    border-top:  hsl(34, 97%, 64%) .4rem solid;

    @include phone {
      grid-row: unset;
      grid-column: unset;
    }
  }

  &__4 {
    grid-row: 2/ span 2;
    grid-column: 3/ 4;

    border-top: hsl(212, 86%, 64%) .4rem solid;

    @include phone {
      grid-row: unset;
      grid-column: unset;
    }
  }

  &__text {
    font-size: 1.1rem;
    color: hsl(229, 6%, 66%);
  }

  &__img {
    //text-align: end;
    //margin-top: 5rem;
    position: absolute;
    bottom: 10%;
    right: 10%;

    img {
      
      height: 5rem;
    }
  }
}

.heading__1 {
  font-size: 1.7rem;
  margin: 1.3rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }